# Project exclude paths
/sudoku-admin/admin-api/target/
/sudoku-common/common-core/target/
/sudoku-common/common-mybatis/target/
/sudoku-common/common-redis/target/
/sudoku-common/common-web/target/
/sudoku-game/game-api/target/
/sudoku-ums/ums-api/target/
.idea