<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zumin.sudoku.game.mapper.GameRecordMapper">
  <resultMap id="BaseResultMap" type="com.zumin.sudoku.game.pojo.entity.GameRecord">
    <!--@mbg.generated-->
    <!--@Table game_record-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="matrix" jdbcType="CHAR" property="matrix" />
    <result column="holes" jdbcType="CHAR" property="holes" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="level_id" jdbcType="BIGINT" property="levelId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, matrix, holes, start_time, end_time, level_id
  </sql>
</mapper>