<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zumin.sudoku.game.mapper.GameRaceRecordMapper">
  <resultMap id="BaseResultMap" type="com.zumin.sudoku.game.pojo.GameRaceRecord">
    <!--@mbg.generated-->
    <!--@Table game_race_record-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="answer" jdbcType="CHAR" property="answer" />
    <result column="situation" jdbcType="TINYINT" property="situation" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="race_information_id" jdbcType="BIGINT" property="raceInformationId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, answer, situation, start_time, end_time, user_id, race_information_id
  </sql>
</mapper>