<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zumin.sudoku.ums.mapper.SysResourceMapper">
  <resultMap id="BaseResultMap" type="com.zumin.sudoku.ums.pojo.entity.SysResource">
    <!--@mbg.generated-->
    <!--@Table sys_resource-->
    <id column="id" jdbcType="BIGINT" property="id"/>
    <result column="perms" jdbcType="VARCHAR" property="perms"/>
    <result column="name" jdbcType="VARCHAR" property="name"/>
    <result column="method" jdbcType="VARCHAR" property="method"/>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, perms, `name`, `method`
  </sql>

  <resultMap id="ResourceWithRoles" type="com.zumin.sudoku.ums.pojo.entity.SysResource" extends="BaseResultMap">
    <collection property="roleIds" ofType="java.lang.Long">
      <result column="role_id" property="value"/>
    </collection>
  </resultMap>

  <select id="listWithRoles" resultMap="ResourceWithRoles">
    select sr.*, srr.role_id as role_id
    from sys_resource sr
           inner join sys_resource_role srr on sr.id = srr.resource_id
  </select>
</mapper>